@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-blue text-white font-raleway;
  }
}
.iframe {
  transform-style: preserve-3d;
  transform: rotateY(3deg);
}
.neg-iframe {
  transform-style: preserve-3d;
  transform: rotateY(-3deg);
}

.perspective {
  perspective: 400px;
}
